.card {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_top {
  display: flex;
  gap: 5px;
}
.card_top_labels {
  flex: 1;
  display: flex;
  gap: 10px;
}

.card_top svg {
  opacity: 0;
  transition: 200ms;
}
.card:hover .card_top svg {
  opacity: 1;
}
.board_top_more {
  /* position: relative; */
  cursor: pointer;
}
.board_dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 150px !important;
  cursor: default;
}
.board_dropdown p {
  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
}
